/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Satisfy);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:500);
@import "materialize";
$matcha: #6EB304;
$vanilla: #F4ED7B;
$transgray: rgba(158, 158, 158, .5);
body th{
  font-family: 'Satisfy', cursive;
}
td,li,h4,h5{
  font-family: 'Alegreya Sans', sans-serif;
}
.transgray{
  background-color: $transgray;
}
.vanilla{
  background-color: $vanilla;
}
.vanilla-text{
  color: $vanilla;
}
.matcha{
  background-color: $matcha;
}
.matcha-text{
  color: $matcha;
}
.outline-text{
  text-shadow: 1px 0 0 black, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black;
}

.gray-foreground{
 	background: rgba(0,0,0,0.2)
 }
.logo{
  height: 100px;
  margin-top: 5px;
}
nav{
  height: 100px;
}
.navbar-fixed{
  height: 0;
}
.nav-elements{
  margin-top: 20px;
  padding-bottom: 18px;
}
nav ul a{
  font-size: 1.5em;
  font-family: 'Satisfy', cursive;
}
.intro{
  margin-top: 175px;
}
.parallax-container{
  height: 700px;
}
#parallax-image{
  max-width: 800px;
  display: inline;
  width: auto;
  height: auto;
}
.slider .slides{
  height: 600px !important;
}
.slider-img{
  // max-width: 800px;
  display: inline;
  width: auto;
  height: auto;
}
.slider .slides li img{
  background-position: bottom;
}
.break{
  height: 200px;
}
#gmap{
  max-width: 100%;
  min-width: 100%;
}
.smedia  {
  color: white;
  transform: translateY(20px);
}
.copy{
  transform: translateY(-10px);
}

.materialboxed{
margin: 0 auto;
}
